.idea
target
atlassian-ide-plugin.xml
dependency-reduced-pom.xml
logs
*.iml
*.ipr
#Eclipse-specific
.settings/
**/*.classpath
.project

.gradle/
.nb-gradle/
.settings/
bin/
build/
gen*
*.DS_Store
.nb-gradle-properties
**/gradle-app.setting
gradle-app.setting
*.log
**/bower_components
